@import url('https://fonts.googleapis.com/css?family=Anton|Audiowide|Cabin|Fjalla+One&display=swap');

body {
    margin: 0;
}

.container {

}

.container .navigation-box img {
    width: 100%;
    position: absolute;
    top: -3em;
}

.box-opacity {
    width: 100%;
    height: 30em;
    background-color: black;
    opacity: 0.4;  
    position: absolute;
}

.container .navigation-box {
    position: relative;
    max-width: 100%;
    max-height: 30em; 
    height: 30em; 
    overflow: hidden;
}

.container .navigation-box .banner{
    position: absolute;
    color: white;
    width: 100%;
}

.container .navigation-box .banner .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.container .navigation-box .banner .nav-bar nav {
    margin-right: 15px; 
}

.container .navigation-box .banner .nav-bar nav ul {
    list-style: none;
}

.container .navigation-box .banner .nav-bar nav ul li {
    display: inline-block;
    padding: 0 5px 0 5px;
}

.container .navigation-box .banner .nav-bar nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 17px;
}

.container .navigation-box .banner .nav-bar .logo-p {
    font-family: 'Audiowide', cursive;
    margin-left: 15px; 
}

.container .navigation-box .banner .qoute-div {
    text-align: center;
    margin-top: 7em;
}

.container .navigation-box .banner div p strong {
    font-family: 'Anton', sans-serif;
    font-size: 3.5em;
}